contourpy>=1.2.0
cycler>=0.12.1
fonttools>=4.50.0
kiwisolver>=1.4.5
matplotlib>=3.8.0
numpy>=1.26.0
packaging>=23.0
pillow>=10.0.0
pyparsing>=3.1.0
python-dateutil>=2.9.0
scipy>=1.10.0
six>=1.16.0
numba==0.63.1
